// Bootstrap изменения

@media (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}

// Основные стили

html,
body {
  height: 100%;
}
body {
	display: flex;
  flex-direction: column;
	background: url(../img/main-background.png) repeat;
}
ul {
	margin: 0;
	padding: 0;
}
.wrapper {
	flex-grow: 1;
}
.services, .unique, .equipment, .reviews, .partners {
	position: relative;
	user-select: none;
	font-size: 18px;
	color: #ffffff;
	
	header {
		padding-top: 35px;
		padding-bottom: 70px;

		.footprint {
			position: relative;
			width: 72px;
			height: 35px;
			margin: 0 auto 20px;
			text-align: center;

			.footprint-img {
				width: 30px;
				height: 25px;
				margin: 0 auto;
				color: #ffffff;
				background: url(../img/icons/footprint-white.svg) no-repeat;
				
				&:before {
					content: url(../img/icons/footprint-white.svg);
					position: absolute;
					left: 0;
					bottom: 0;
					width: 20px;
					height: 15px;
				}
				&:after {
					content: url(../img/icons/footprint-white.svg);
					position: absolute;
					right: 0;
					bottom: 0;
					width: 20px;
					height: 15px;
				}
			}
		}
		h2 {
			font-family: 'Raleway-Bold', sans-serif;
			margin: 0;
			font-size: 36px;
			font-weight: bold;
			text-align: center;
			text-transform: uppercase;
		}
		p {
			font-family: 'Raleway-Regular', sans-serif;
			text-align: center;
		}
	}
}
.unique, .reviews {
	
	header {

		.footprint {

			.footprint-img {
				background: url(../img/icons/footprint.svg) no-repeat;
				
				&:before {
					content: url(../img/icons/footprint.svg);
				}
				&:after {
					content: url(../img/icons/footprint.svg);
				}
			}
		}
	}
}

// Блоки для стрелок

.arrow-block-1, .arrow-block-2 {
	position: relative;
	width: 50px;
}
.arrow-block-2 {
	order: 3;
}
.services {

	.arrow-block-1, .arrow-block-2 {
		width: 85px;
	}
}

// Стрелки для главного слайдера
.main-prev-arrow, .main-next-arrow {
	position: absolute;
	top: 50%;
	width: 60px;
	height: 60px;
	border: 2px solid #ffffff;
	border-radius: 100%;
	transition: all 0.5s ease;

	&:before {
		content: '';
		position: absolute;
		top: 50%;
		width: 20px;
		height: 20px;
		transform: translateY(-50%) rotate(45deg);
		transition: all 0.5s ease;
	}
	&:hover {
		border: 3px solid #F7AA40;
	}
}
.main-prev-arrow {
	left: 50%;
	transform: translate(-50%, -50%);

	&:before {
		left: 40%;
		border-left: 2px solid #ffffff;
		border-bottom: 2px solid #ffffff;
	}
	&:hover {

		&:before {
			border-left: 3px solid #F7AA40;
			border-bottom: 3px solid #F7AA40;
		}
	}
}
.main-next-arrow {
	right: 50%;
	transform: translate(50%, -50%);

	&:before {
		right: 40%;
		border-right: 2px solid #ffffff;
		border-top: 2px solid #ffffff;
	}
	&:hover {

		&:before {
			border-right: 3px solid #F7AA40;
			border-top: 3px solid #F7AA40;
		}
	}
}

// Стрелки для слайдера в блоке "Услуги Гранд-Вет"
.services-prev-arrow, .services-next-arrow {
	position: absolute;
	top: 50%;
	width: 60px;
	height: 60px;
	border: 2px solid #ffffff;
	border-radius: 100%;
	transform: translateY(-50%);
	transition: all 0.5s ease;

	&:before {
		content: '';
		position: absolute;
		top: 50%;
		width: 20px;
		height: 20px;
		transform: translateY(-50%) rotate(45deg);
		transition: all 0.5s ease;
	}
	&:hover {
		border: 3px solid #F7AA40;
	}
}
.services-prev-arrow {
	left: 0;

	&:before {
		left: 40%;
		border-left: 2px solid #ffffff;
		border-bottom: 2px solid #ffffff;
	}
	&:hover {

		&:before {
			border-left: 3px solid #F7AA40;
			border-bottom: 3px solid #F7AA40;
		}
	}
}
.services-next-arrow {
	right: 0;

	&:before {
		right: 40%;
		border-right: 2px solid #ffffff;
		border-top: 2px solid #ffffff;
	}
	&:hover {

		&:before {
			border-right: 3px solid #F7AA40;
			border-top: 3px solid #F7AA40;
		}
	}
}

// Стрелки для слайдера в блоке "Отзывы клиентов"

.prev-arrow, .next-arrow {
	position: absolute;
	top: 50%;
	width: 50px;
	height: 50px;
	border: 2px solid #42AFE1;
	border-radius: 100%;
	transform: translateY(-50%);
	transition: all 0.5s ease;

	&:before {
		content: '';
		position: absolute;
		top: 50%;
		width: 15px;
		height: 15px;
		transform: translateY(-50%) rotate(45deg);
		transition: all 0.5s ease;
	}
	&:hover {
		border: 2px solid #000000;
	}
}
.prev-arrow {
	left: 0;

	&:before {
		left: 40%;
		border-left: 2px solid #42AFE1;
		border-bottom: 2px solid #42AFE1;
	}
	&:hover {

		&:before {
			border-left: 2px solid #000000;
			border-bottom: 2px solid #000000;
		}
	}
}
.next-arrow {
	right: 0;

	&:before {
		right: 40%;
		border-right: 2px solid #42AFE1;
		border-top: 2px solid #42AFE1;
	}
	&:hover {

		&:before {
			border-right: 2px solid #000000;
			border-top: 2px solid #000000;
		}
	}
}

// Для полос в слайдере блока "Отзывы"

.reviews-content {

	.slick-list {
		right: -2px;
	}
}











