@media (max-width: 1400px) {
	.services {
		
		.services-content {
			width: 960px;

			.services-info {
				height: 175px;
				padding: 0 15px;
			}
		}
	}
	.services {
	
		.parrot {
			display: none;
		}
	}
	.unique {

		.rabbit {
			display: none;
		}
	}
	.reviews {

		.ferret {
			display: none;
		}
	}
}
@media (max-width: 1200px) {
	.main-header {
		
		.container {
			
			.logo {
				width: 168px;
				height: 130px;
				background-size: cover;
			}
			.contacts {
				flex-direction: column;
				height: 110px;
				margin-left: 130px;

				.contacts-info {
					flex-grow: 0;
					font-size: 16px;
				}
				.contacts-daily {
					display: flex;
					flex-grow: 1;
					align-self: center;
					margin-top: 15px;
				}						
			}
			.main-navigation {
				margin-left: 0;
				margin-top: 15px;

				ul {
					padding-left: 0;
				}
			}
		}
	}
	.main-section {
		max-height: 425px;

		.main-container {
			width: 960px;

			.main-info {
				font-size: 26px;

				span {
					padding: 10px 0 25px;
				}
				.btn {
					padding: 10px 25px;
				}
			}
		}
		.main-slider {
			width: 100%;

			img {
				width: 100%;
			}
		}
	}
	.services {
		font-size: 14px;
		
		.services-content {
			width: 720px;
			
			.services-slider {
				position: relative;
				height: 200px;
				margin: 0 -15px;

				.slide-box {

					.slide {
						width: 200px;
						height: 200px;

						img {
							&.height {
								height: 100%;
							}
							&.width {
								width: 100%;
							}
						}						
						span {
							height: 35px;
							width: 200px;
						}
					}
				}
			}
			.services-info {
				height: 155px;
				padding: 0 10px;
			}
		}
	}
	.reviews {

		.reviews-content {
			width: 960px;
		}
	}
	.partners {

		.partners-slider {
			width: 960px;
		}
	}
}
@media (max-width: 992px) {
	.main-header {

		.container {
			
			.logo {
				left: 0;
				width: 120px;
				height: 100px;
			}
			.contacts {
				height: 70px;
				margin-left: 100px;

				.contacts-info {
					font-size: 15px;

					.contact {
						padding: 0 10px 0 40px;
					}				
				}
				.contacts-daily {
					margin-top: 10px;

					.daily-text {
					  font-size: 16px;
					}
					.daily-image {
						width: 50px;
						height: 45px;
					}
				}						
			}
			.main-navigation {

				ul {
					justify-content: center;

					li {
						padding: 10px 5px 10px 25px;
						font-size: 10px;

						&.active {

							&:before {
								top: 25%;
								width: 18px;
								height: 12px;
							}
						}
					}
				}
			}
		}
	}
	.main-section {
		max-height: 350px;

		.main-container {
			width: 720px;

			.main-info {
				font-size: 20px;

				.btn {
					padding: 10px 20px;
					font-size: 14px;
				}
			}
		}
	}
	.services {
		font-size: 13px;
		
		.services-content {
			width: 540px;
			
			.services-slider {
				position: relative;
				height: 200px;
				margin: 0 -15px;

				.slide-box {

					.slide {
						width: 200px;
						height: 200px;

						img {
							&.height {
								height: 100%;
							}
							&.width {
								width: 100%;
							}
						}						
						span {
							height: 35px;
							width: 200px;
						}
					}
				}
			}
			.services-info {
				height: 135px;
				padding: 0 25px;

				.container {
					padding: 10px 0;

					.service-description {
						padding: 0 10px;
						
						.service-header, .service-text {
							margin: 8px 0;
						}
					}
				}
			}
		}
	}
	.reviews {

		.reviews-content {
			width: 720px;
		}
	}
	.partners {

		.partners-slider {
			width: 720px;

			.partner-slide {
				margin: 0;
			}
		}
	}
	.main-footer {

		.links {
			min-height: 0;
			padding-bottom: 15px;
		}
	}
}
@media (max-width: 768px) {
	.main-header {

		.container {
			
			.logo {
				left: 0;
				width: 60px;
				height: 50px;
			}
			.contacts {
				position: relative;
				flex-direction: row;
				flex-wrap: wrap;
				height: auto;
				margin-left: 60px;
				
				.mobile {
					width: 20px;
					height: 20px;
					background: url(../img/icons/telephone.svg) no-repeat;
					background-size: cover;
				}
				.contacts-info {
					position: relative;
					flex-direction: column;
					order: 3;
					top: 100%;
					left: 0;
					right: 0;
					margin-bottom: 10px;
					padding: 0 20px;
					border: 2px solid #F9AC41;
					border-radius: 5px;
					font-size: 10px;
					background-color: transparent;
					
					&:after {
						content: '';
						position: absolute;
						z-index: 1;
						top: -6px;
						left: 10px;
						width: 10px;
						height: 10px;
						border-top: 2px solid #F9AC41;
						border-left: 2px solid #F9AC41;
						background-color: transparent;
						opacity: 1;
						transform: rotate(45deg);
					}
					.contact {
						display: block;
						width: 100%;
						height: 20px;
						line-height: 20px;
						padding: 0 10px 0 25px;
						border-top: 1px solid #F9AC41;
						text-align: center;

						&:first-child {
							border-top: none;
						}
						&:before {
							left: 10px;
							width: 10px;
							height: 10px;
						}
					}				
				}
				.contacts-daily {
					align-self: flex-start;
					margin-top: 0;
					width: auto;
					height: auto;

					.daily-text {
						height: 20px;
						line-height: 20px;
					  font-size: 12px;
					}
					.daily-image {
						width: 30px;
						height: 30px;
					}
				}						
			}
			.main-navigation {
				display: none;

				ul {
					justify-content: center;

					li {
						padding: 10px 5px 10px 25px;
						font-size: 10px;

						&.active {

							&:before {
								top: 25%;
								width: 18px;
								height: 12px;
							}
						}
					}
				}
			}
		}
	}
	.main-section {
		max-height: 270px;

		.main-container {
			width: 540px;

			.main-info {
				font-size: 17px;

				span {
					padding: 5px 0 15px;
				}
				.btn {
					padding: 5px 15px;
					font-size: 12px;
				}
			}
		}
	}
	.services {
		font-size: 16px;
		
		.services-content {
			width: 270px;
			
			.services-slider {
				position: relative;
				height: 265px;
				margin: 0 -15px;

				.slide-box {

					.slide {
						width: 270px;
						height: 265px;

						img {
							&.height {
								height: 100%;
							}
							&.width {
								width: 100%;
							}
						}						
						span {
							height: 45px;
							width: 270px;
						}
					}
				}
			}			
			.services-info {
				height: auto;
				padding: 0;
			}
		}
	}
	.equipment {

		.equipment-box {
			width: 265px;
			height: 265px;
			margin: 0 auto 30px;
		}
	}
	.reviews {

		.reviews-content {
			width: 540px;
		}
	}
	.partners {

		.partners-slider {
			width: 540px;
		}
	}
	.main-footer {

		.location, .links {
			min-height: 0;
			padding-bottom: 15px;
		}
	}
}
@media (max-width: 576px) {
	.main-section {
		max-height: 200px;

		.main-container {
			width: 360px;

			.main-info {
				font-size: 13px;

				span {
					padding: 5px 0 10px;
				}
				.btn {
					padding: 5px 10px;
					font-size: 10px;
				}
			}
		}
	}
	.reviews {

		.reviews-content {
			width: 360px;
		}
	}
	.partners {

		.partners-slider {
			width: 360px;
		}
	}
}